/* Style Css Dashboard Back-End */

/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page dashboard */

.dashboard-container {
    display: flex;
}

/* Page Gestion Produit */

.produit-form {
    border: 2px solid #000;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    padding: 2%;
}

.produit-form div {
    margin: 20px auto;
}

.produit-form .inputForm,
.produit-form textarea,
.produit-form select {
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.produit-form .submit {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.produit-form .submit:hover {
    background-color: #11006c;
    transition: 1s;
}

.produit-form .photo figure {
    margin: 20px 0;
}

.produit-form .photo img {
    width: 200px;
}

.produit-list {
    border: 2px solid #000;
    border-radius: 10px;
    width: 94%;
    margin: auto;
    padding: 2%;
}

.produit-list table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.produit-list table tr {
    text-align: center;
    border-bottom: 2px solid #000;
}

.produit-list table th {
    font-size: 20px;
    padding: 5px;
    width: calc(100% /12);
}

.produit-list table td {
    font-size: 18px;
    padding: 5px;
    width: calc(100% /12);
}

.produit-list table img {
    width: 80px;
}

.produit-list table a {
    color: #000;
    margin: 0 5px;
}

.produit-list table a:hover {
    color: #0D00A4;
    transition: 1s;
}

/* Page dashboard - Page Gestion Produit */

.section-right {
    width: 80%;
}

.section-left {
    width: 20%;
}

.section-left {
    background-color: #FF5A09;
}

.section-1-produit,
.section-1-dashboard {
    padding: 4% 0px;
}

.produit-form hr,
.produit-list hr {
    margin: 20px auto;
    padding: 1px;
    background-color: #000;
}

.produit-form h3,
.produit-list h3 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

/* Footer */

footer {
    background: #000;
    padding: 2% 0;
}

.text-copyright {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

/* Menu - Dashboard */

.menu-dashboard {
    display: flex;
    justify-content: center;
    height: 100%;
}

.menu-dashboard {
    margin-top: 10%;
}

.menu-dashboard {
    margin-top: 10%;
}

.menu-dashboard li {
    list-style: none;
}

.menu-dashboard li {
    margin: 20px 0;
}

.menu-dashboard a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;

}

.menu-dashboard a {
    border-bottom: 2px solid transparent;
}

.menu-dashboard a:hover {
    color: #000;
    transition: 1s;
}

.menu-dashboard a:hover {
    border-bottom: 4px solid #000;
    transition: 1s;
}

/* 1. Modale -  Menu - Dashboard */

.btnOpenDashboard,
.modal-menu-left,
.btnCloseDashboard,
.modal-dashboard-left {
    display: none;
}


/* Message Erreur - Message Succès */

.message-succes,
.message-error {
    width: 80%;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 10px;
}

.message-succes {
    border: 1px solid #119d15;
    background: rgba(71, 173, 74, 0.2);
}

.message-error {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.2);
}


@media screen and (max-width: 992px) {
    /* Dashboard */

    .dashboard-container {
        flex-direction: column;
    }

    .section-right,
    .section-left {
        width: 100%;
    }

    /* Page Gestion Produit */

    .produit-list table thead {
        display: none;
    }

    .produit-list table tbody tr {
        display: block;
        margin: 20px 0;
        border: 2px solid #000;
    }

    .produit-list table tbody td {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 2px solid #000;
        padding: 10px;
    }

    .produit-list table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
    }

    /* Menu - Dashboard */

    .menu-dashboard {
        display: none;
    }

    /* 1. Modale - Menu Responsive */

    .modal-mobile-left li {
        list-style: none;
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

    .modal-mobile-left a {
        color: #fff;
        font-size: 25px;
        border-bottom: 2px solid transparent;
        margin-left: 20px;
        text-decoration: none;
    }

    .btnOpenDashboard {
        display: block;
        text-align: end;
        padding-right: 4%;
        background-color: #04052E;
    }

    .btnOpenDashboard .fa-bars {
        color: #fff;
        font-size: 2em;
        padding: 10px;
        cursor: pointer;
    }

    .modal-menu-left,
    .modal-dashboard-left {
        display: block;
    }

    .modal-dashboard-left {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #000;
        transform: translateX(-100%);
        transition: transform 0.9s ease-in-out;
        z-index: 1;
        width: 85%;
    }

    .btnCloseDashboard {
        position: fixed;
        top: 12px;
        right: 20px;
    }

    .btnCloseDashboard .fa-times {
        color: #fff;
        font-size: 2em;
        padding: 10px 14px;
        cursor: pointer;
    }

    .active-menu-left {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {

    /* Page Gestion Produit */

    .section-1-produit .produit-form {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {

    /* Page Gestion Produit */

    .section-1-produit .produit-form {
        width: 90%;
    }
}