/* Styles Css Front-End */

/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

/*Header*/

/* 1. Header Top */

header {
    background: #000;
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

header>.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>.header-top>figure {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
}

header>.header-top>h1 {
    color: #fff;
    font-size: 36px;

}

.header-panier-mobile {
    display: none;
}

.link-shop {
    display: block;
}

/* 2. Menu navigation */

.menu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    margin: 0;
}

.menu li {
    list-style: none;
    padding: 0 25px;
}

.menu a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.menu a:hover {
    color: #0D00A4;
    border-bottom: 4px solid #0D00A4;
    transition: 1s;
}

.image-shop {
    width: 30px;
}

.count-shop {
    padding: 4px 10px;
    background: white;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -14px;
}

/* 3. Modale - Menu Responsive */

.btnOpen,
.modal-menu,
.btnClose,
.modal-navigation {
    display: none;
}

/* Page Accueil */

/* 1. Section */

.section-1-accueil,
.section-2-accueil,
.section-3-accueil,
.section-4-accueil {
    padding: 4% 0;
}

.section-1-accueil h2,
.section-2-accueil h2,
.section-3-accueil h2,
.section-4-accueil h2 {
    font-size: 2.6em;
    text-align: center;
}

.section-2-accueil h2,
.section-4-accueil h2 {
    color: #fff;
}

/* 2. Carrousel */

#carrousel {
    width: 80vw;
    max-width: 1200px;
    height: calc(80vw * 9 / 16);
    max-height: calc(1200px * 9 / 16);
    margin: 50px auto 0;
    border: 10px solid #fff;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#reglette {
    display: flex;
    height: 100%;
    position: relative;
}

#reglette figure {
    height: 100%;
    position: relative;
}

#reglette figure img {
    height: 100%;
    width: 100%;
}

#reglette figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

/* 3. Catégories - Produits */

.section-2-accueil {
    background-color: #04052E;
}

.block-categories,
.block-produit-accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

.fiche-categorie,
.fiche-produit-accueil {
    background-color: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
    width: 22%;
}

.fiche-categorie figure,
.fiche-produit-accueil figure {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.fiche-categorie img,
.fiche-produit-accueil img {
    width: 100%;
    border-radius: 5px;
}

.fiche-produit-accueil img {
    width: 60%;
}

.titre_categorie,
.titre_produit_accueil {
    text-align: center;
    font-size: 1.8em;
    color: #000;
    margin: 10px 0;
}

.fiche-categorie a,
.fiche-produit-accueil a {
    background-color: #000;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 2% 8%;
    margin: 2% auto;
}

.fiche-categorie a:hover,
.fiche-produit-accueil a:hover {
    background-color: #0D00A4;
    border: 2px solid #000;
    transition: 1s;
}

.message-info-categorie,
.message-info-produit {
    text-align: center;
    font-size: 1.2em;
    color: #000;
}

.message-info-categorie {
    color: #fff;
}

/* 4. Newsletter */

.section-4-accueil {
    background-color: #04052E;
}

.section-4-accueil>p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 2% 8%;
}

.section-4-accueil>form {
    margin: 0 auto;
    width: 50%;
}

.newsletter-validation {
    margin: 4% auto;
    text-align: center;
}

.input-newsletter {
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #02010A;
}

.submit-newsletter {
    background-color: #000;
    border: none;
    padding: 2% 6%;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
}

.submit-newsletter:hover {
    background-color: #0D00A4;
    cursor: pointer;
    transition: 2s;
}

/* Page Boutique */

/* 1. Global */

.title-product {
    text-align: center;
    font-size: 2.6em;
}

/* 2. Catégories */

.container-left-right {
    display: flex;
    margin: 20px 0;
}

.section-front-right {
    width: 80%;
}

.section-front-left {
    width: 20%;
    margin: 40px 0;
}

.section-front-left h3 {
    text-align: center;
    font-size: 2em;
}

.menu-categorie {
    display: flex;
    justify-content: center;
    height: 100%;
}

.menu-categorie ul {
    width: 80%;
}

.menu-categorie li {
    list-style: none;
}

.menu-categorie li {
    border: 1px solid black;
    padding: 6% 0;
    text-align: center;
    background: #fff;
}

.menu-categorie a {
    display: block;
    color: #000;
    font-size: 25px;
    text-decoration: none;

}

.menu-categorie li:hover {
    background: #000;
    transition: 1s;
}

.menu-categorie a:hover {
    color: #fff;
    transition: 1s;
}

/* 3. Produit */

.block-produit-boutique {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fiche-produit-boutique {
    background-color: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 20%;
    padding: 20px;
}

.fiche-produit-boutique figure {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.fiche-produit-boutique img {
    width: 120px;
    border-radius: 10px;
}

.fiche-produit-boutique h3 {
    font-size: 25px;
}

.fiche-produit-boutique a {
    background-color: #000;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 2% 8%;
    margin: 2% auto;
}

.fiche-produit-boutique a:hover {
    background-color: #0D00A4;
    border: 2px solid #000;
    transition: 1s;
}

/* Page Produit  */

.fiche-produit {
    width: 80%;
    margin: 4% auto;
    background: #fff;
    padding: 2%;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
}

.produit-global {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produit-global figure {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.produit-global img {
    width: 60%;
}

.produit-infos {
    width: 50%;
}

.produit-infos h2 {
    font-size: 2.2em;
    padding: 20px 0 15px 0;
}

.produit-prix {
    font-size: 1.6em;
    font-weight: bold;
    padding: 5px 0 10px 0px;
}

.produit-text,
.produit-rupture {
    font-size: 18px;
    font-weight: bold;
}

.produit-text {
    margin: 10px 0;
}

.produit-rupture {
    background-color: #000;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    color: #fff;
    padding: 2% 4%;
    text-align: center;
    width: 60%;
    margin: 30px 0;
}

.produit-infos form {
    padding-top: 2%;
}

.produit-select {
    padding: 2% 4%;
    background-color: #000;
    color: #fff;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.produit-submit {
    background-color: #000;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    color: #fff;
    padding: 2% 4%;
}

.produit-submit:hover {
    background-color: #0D00A4;
    transition: 1s;
    cursor: pointer;
}

/* Page Process-order */

.background-commande {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

.resume-commande {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.fiche-information {
    width: 25%;
}

.fiche-information p {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

/* Page Validation Commande */

.section-1-achat {
    background-color: #04052E;
}

.section-1-achat h2 {
    text-align: center;
    font-size: 2.6em;
    color: #fff;
}

.section-1-achat p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.information-achat {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 4%;
    width: 80%;
}

.information-achat h3 {
    font-size: 30px;
    text-align: center;
}

.information-achat hr {
    margin: 20px auto;
    padding: 1px;
    background-color: #000;
}

.resume-achat p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 2px 0;
}

.btn-compte {
    color: #0D00A4;
    text-decoration: none;
}

.btn-compte:hover {
    color: #000;
    transition: 1s;
}

/* Page Accueil - Page Boutique - Page inscription - Page connexion - Page Produit  - Page Panier - Page Process-order - Page Validation Commande */

/* 1. Hr */

.inscription-form hr,
.connexion-form hr,
.section-2-accueil hr,
.section-1-boutique hr,
.section-3-accueil hr,
.section-4-accueil hr,
.section-1-panier hr,
.section-1-commande hr,
.information-commande hr,
.fiche-information hr,
.list-panier hr,
.list-commande hr,
.section-1-achat hr,
.section-2-achat hr {
    margin: 20px auto;
    padding: 1px;
    background-color: #000;
}

.section-2-accueil hr,
.section-3-accueil hr,
.section-4-accueil hr,
.section-1-boutique hr,
.section-1-panier hr,
.section-1-commande hr,
.section-1-achat hr {
    width: 40%;
}

.section-front-left hr {
    width: 60%;
}

.fiche-information hr {
    width: 70%;
}

.section-2-accueil hr,
.section-4-accueil hr,
.section-1-panier hr,
.section-1-commande hr,
.section-1-achat hr {
    background-color: #fff;
}

/* 2. Section */

.section-1-inscription,
.section-1-connexion,
.section-1-boutique,
.section-1-produit,
.section-1-panier,
.section-2-panier,
.section-1-commande,
.section-2-commande,
.section-1-achat,
.section-2-achat {
    padding: 4% 0px;
}

.section-1-connexion {
    height: 100%;
}

/* Page Accueil - Page Boutique */

.fiche-produit-accueil p,
.fiche-produit-boutique p {
    font-size: 20px;
    margin: 2% 0px;
}

/* Page inscription - Page connexion */

/* 1. Formulaire */


.connect {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 18px;
}

.inscription-form div,
.connexion-form div {
    margin: 20px auto;
}

.civilite,
.civilite p {
    margin: 10px 0;
}

.inputForm {
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.submit {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #11006c;
    transition: 1s;
}

.inscription-form a,
.connexion-form a {
    text-decoration: none;
    color: #000;
}

.inscription-form a:hover,
.connexion-form a:hover {
    color: #11006c;
    transition: 1s;
}

/* Page Panier - Page Process-order */

/* 1. Block Panier */

.section-1-panier,
.section-1-commande {
    background-color: #04052E;
}

.section-1-panier h2,
.section-1-commande h2 {
    color: #fff;
    font-size: 2.6em;
    text-align: center;
}

.section-1-panier p,
.section-1-commande p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* 2. Block Liste Panier */

.list-panier,
.list-commande {
    background: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
}

.list-panier {
    box-shadow: #000 0px 0px 4px 4px;
    width: 90%;
}

.list-commande {
    margin-top: 5%;
}

.information-commande h3,
.resume-commande h3,
.list-panier h3,
.list-commande h3 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.resume-commande h3 {
    font-size: 24px;
    text-align: center;
}

.list-panier table,
.list-commande table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.table-top-commande th,
.table-details-commande td {
    width: calc(100% /6);
}

.table-top-panier th,
.table-details-panier td {
    width: calc(100% /8);
}

.table-details-panier,
.table-details-commande {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.table-top-panier th,
.table-details-panier td,
.table-top-commande th,
.table-details-commande td {
    padding: 10px;
}

.table-top-panier th,
.table-top-commande {
    font-size: 20px;
}

.table-details-panier td,
.table-details-commande td {
    font-size: 18px;
}

.table-details-panier figure,
.table-details-commande figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-details-panier img,
.table-details-commande img {
    width: 80px;
    border-radius: 10px;
}

.table-details-panier a {
    color: #000;
    margin: 0 5px;
}

.table-details-panier a:hover {
    color: #0D00A4;
    transition: 1s;
}

.table-responsive {
    display: none;
}

.td-empty {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.td-empty td {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

/* 3. Block Bouton - Texte Panier */

.panier-total {
    text-align: end;
    margin: 1% 4% 1% 0;
    font-size: 18px;
}

.order {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

.btn-order,
.btn-connect-panier,
.btn-achat {
    background-color: #000;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 6px;
    width: 22%;
    text-align: center;
}

.btn-achat {
    width: 12%;
}

.btn-connect-panier {
    width: 30%;
}

.btn-connect-panier:hover,
.btn-order:hover,
.btn-achat:hover {
    background-color: #0D00A4;
    cursor: pointer;
    border-bottom: 2px solid #0D00A4;
    transition: 1s;
}

.panier-vide {
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}

.panier-vide a {
    color: #0D00A4;
    text-decoration: none;
}

.panier-vide a:hover {
    color: #000;
    transition: 1s;
}

/* Page inscription - Page connexion */

.section-1-inscription .inscription-form,
.section-1-connexion .connexion-form {
    border: 2px solid #000;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 2%;
}

.section-1-connexion .connexion-form {
    width: 40%;
}

.inscription-form h3,
.connexion-form h3 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

/* Footer */

footer {
    background: #000;
    padding: 2% 0;
}

.text-copyright {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

/* Message Erreur - Message Succès */

.message-succes,
.message-error,
.message-error-input,
.message-error-newsletter,
.message-succes-newsletter {
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 10px;
    line-height: 22px;
}

.message-error-input,
.message-error-newsletter,
.message-succes-newsletter {
    width: 100%;
}

.message-succes {
    border: 2px solid #119d15;
    background: rgba(71, 173, 74, 0.2);
}

.message-succes-newsletter {
    border: 2px solid #119d15;
    background: #fff;
}

.message-error,
.message-error-input {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.2);
}

.message-error-newsletter {
    border: 2px solid red;
    background: #fff;
}

.border-error {
    border: 2px solid red !important;
}

.border-succes {
    border: 2px solid #119d15 !important;
}

.active-message {
    display: none;
}

/* MouseOver Mouseout - Block - fiche-shop*/

.activeBlock {
    box-shadow: #FF5A09 0px 0px 4px 4px !important;
    transition: 1s;
    cursor: pointer;
}

@media screen and (max-width: 992px) {

    /* Header */

    header {
        padding: 4% 0;
    }

    .header-panier-mobile {
        display: block;
    }

    .image-shop-mobile {
        width: 40px;
    }

    .count-shop-mobile {
        padding: 4px 10px;
        background: white;
        color: black;
        border-radius: 20px;
        font-size: 20px;
        vertical-align: middle;
        display: inline-block;
        margin-top: -14px;
    }

    /* 2. Menu navigation */

    header>nav>.menu {
        display: none;
    }

    /* 3. Modale - Menu Responsive */

    .menu {
        flex-direction: column;
        align-items: center !important;
        height: 100vh;
    }

    .menu li {
        margin: 3% 0;
    }

    .menu a {
        font-size: 2em;
        font-weight: bold;
    }

    .btnOpen {
        display: block;
        border: 1px solid #fff;
    }

    .btnOpen .fa-bars {
        color: #fff;
        font-size: 2em;
        padding: 10px;
        cursor: pointer;
    }

    .modal-menu,
    .modal-navigation {
        display: block;
    }

    .modal-navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #000;
        transform: translateY(-100%);
        transition: transform 0.9s ease-in-out;
        z-index: 10;
    }

    .btnClose {
        position: fixed;
        top: 20px;
        right: 20px;
        border: 1px solid #fff;
    }

    .btnClose .fa-times {

        color: #fff;
        font-size: 2em;
        padding: 10px 14px;
        cursor: pointer;
    }

    .active-menu {
        transform: translateY(0);
    }

    /* Page Accueil */

    /* 3. Catégories - Produits */

    .fiche-categorie,
    .fiche-produit-accueil {
        width: 45%;
        margin: 2% 0%;
    }

    /* Page Boutique */

    .container-left-right {
        flex-direction: column;
    }

    .section-front-left,
    .section-front-right {
        width: 100%;
    }

    .fiche-produit-boutique {
        width: 40%;
    }

    .menu-categorie ul {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .menu-categorie li {
        padding: 2% 0;
    }

    /* Page Produit  */

    .produit-global {
        flex-direction: column;
    }

    .produit-global figure {

        width: 100%;
    }

    .produit-infos {

        width: 100%;
    }

    /* Page Panier - Page Process-order */

    /* 2. Block Liste Panier */

    .list-panier thead,
    .list-commande thead {
        display: none;
    }

    .table-details-panier,
    .table-details-commande {
        display: none;
        border: 2px solid #000;
    }

    .table-details-panier img,
    .table-details-commande img {
        margin: auto;
    }

    .table-details-panier td::before,
    .table-details-commande td::before {
        content: attr(data-label);
        font-weight: bold;
        margin: 10px 0;
    }

    .table-details-panier td,
    .table-details-commande td {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 10px;
    }

    .table-responsive {
        display: flex;
        border: 2px solid #000;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .table-responsive:hover {
        background-color: #0D00A4;
        color: #fff;
        cursor: pointer;
        transition: 1s;
    }

    .table-responsive td {
        font-size: 18px;
        padding: 10px;
    }

    .active-liste {
        background-color: #0D00A4;
        color: #fff;
    }

    .active-details {
        display: block !important;
    }

    /* 3. Block Bouton - Texte Panier */

    .order {
        flex-direction: column;
    }

    .btn-order,
    .btn-connect-panier,
    .btn-achat {
        margin: 6px auto;
        width: 100%;
    }

    /* Page Process-order */

    .fiche-information {
        width: 50%;
    }

    /* Page inscription - Page connexion */

    .section-1-inscription .inscription-form {
        width: 70%;
    }

    .section-1-connexion .connexion-form {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    /* Page Boutique */

    .menu-categorie li {
        padding: 4% 0;
    }

    /* Page inscription - Page connexion */

    .section-1-inscription .inscription-form,
    .section-1-connexion .connexion-form {
        width: 80%;
    }
}

@media screen and (max-width: 516px) {

    /* Header */

    header {
        padding: 6% 0;
        flex-direction: column;
    }

    header>.header-top>h1 {
        font-size: 30px;
        text-align: center;
    }

    .header-panier-mobile {
        margin: 30px auto;
    }

    .image-shop-mobile {
        width: 50px;
    }

    .count-shop-mobile {
        padding: 6px 12px;
        margin-top: -30px;
    }

    /* 3. Modale - Menu Responsive */

    .btnOpen {
        margin: auto;
    }

    .btnOpen .fa-bars {
        font-size: 1.8em;
    }

    /* Page Accueil */

    /* 2. Carrousel */

    #carrousel {
        width: 90vw;
        height: calc(90vw * 9 / 16);
    }

    /* 3. Catégories - Produits*/

    .fiche-categorie,
    .fiche-produit-accueil {
        width: 70%;
        margin: 4% 0%;
    }

    .fiche-produit-accueil img {
        width: 80%;
    }

    /* 3. Newsletter */

    .section-4-accueil>form {
        margin: 4% auto;
        width: 80%;
    }

    /* Page Boutique */

    .fiche-produit-boutique {
        width: 60%;
    }

    /* Page Produit  */

    .produit-select,
    .produit-submit {
        padding: 4% 10%;
        margin: 2% 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    /* Page Process-order */

    .resume-commande {
        flex-direction: column;
    }

    .fiche-information {
        width: 100%;
    }

    .fiche-information hr {
        width: 50%;
    }

    /* Page Panier - Page Process-order - Page Validation Commande*/

    /* 1. Block Panier */

    .section-1-panier p,
    .section-1-commande p,
    .section-1-achat p {
        padding: 2%;
    }

    /* Page inscription - Page connexion */

    .section-1-inscription .inscription-form,
    .section-1-connexion .connexion-form {
        width: 90%;
    }
}