/* Styles Css Front Profil */


/* Profil  Global */

.container-profil {
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 100%;
}

a {
    text-decoration: none;
}

.section-1-compte,
.section-2-compte,
.section-1-profil,
.section-3-profil,
.section-1-commande-user {
    padding: 4% 0px;
}

.profil-information hr,
.separate-section-2,
.separate-section-1,
.information hr,
.espace-adresse hr,
.detail-profil hr,
.detail-adresse hr,
.espace-password hr {
    margin: 20px auto;
    padding: 1px;
    background-color: #000;
}

.information hr,
.espace-adresse hr,
.detail-profil hr,
.detail-adresse hr,
.espace-password hr {
    width: 70%;
}

.separate-section-1 {
    width: 20%;
}

.profil-information h3,
.espace-adresse h3,
.detail-profil h3,
.detail-adresse h3,
.espace-password h3 {
    font-size: 30px;
    text-align: center;
}


/* 1. Section Right */

.section-profil-right {
    width: 80%;
    height: 100%;
    background-color: #fff;
}

/* 2. Section Left */

.section-profil-left {
    background-color: #02010A;
    width: 20%;
}

/* 3. Menu Navigation */

.menu-dashboard {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
}

.menu-dashboard li {
    list-style: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.menu-dashboard img {
    width: 30px;
}

.menu-dashboard a {
    color: #fff;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    margin-left: 20px;
}

.menu-dashboard a:hover {
    color: #0D00A4;
    border-bottom: 2px solid #0D00A4;
    transition: 1s;
}

/* 4. Modale - Menu Responsive */

.modal-menu-dashboard,
.btnDashboard {
    display: none;
}

/* Page Compte */

/* 1. Block Profil Information*/

.profil-information {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 2%;
    width: 90%;
}

/* 2. Block Information*/

.information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.information h3 {
    font-size: 24px;
    text-align: center;
}

.information a {
    background-color: #000;
    color: #fff;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.information a:hover {
    background-color: #0D00A4;
    transition: 1s;
}

/* 3. Désabonnement Newsletter */

.btnDesabonner {
    color: #0D00A4;
    text-decoration: none;
}

.btnDesabonner:hover {
    color: red;
    transition: 1s;
}

/* Page Profil */

/* 1. Section */

.section-1-profil,
.section-2-profil {
    display: flex;
    justify-content: center;
}

/* 2. Block */

.espace-profil,
.detail-profil,
.espace-adresse,
.detail-adresse,
.espace-password {
    width: 40%;
    padding: 10px;
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px 20px;
}

.espace-password {
    margin: 20px auto;
}

.espace-profil figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: #000 0px 0px 4px 4px;
}

.espace-profil img {
    width: 150px;
}

.fiche-profil {
    padding: 5%;
}

/* 3. Formulaire */

.civilite-profil {
    width: 80%;
    margin: 10px auto;
}

.password-profil {
    width: 80%;
    display: block;
    margin: 15px auto;
}

.input-civilite-profil {
    margin: 10px 6px;
}

.input-profil {
    border-radius: 5px;
    display: block;
    width: 80%;
    height: 40px;
    border: 1px #c6c6c6 solid;
    margin: 10px auto;
    padding: 10px;
}

.submit-profil {
    background-color: #000;
    color: #fff;
    height: auto;
    font-size: 17px;
    border: 1px solid #000;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 80%;
    cursor: pointer;
}

.submit-profil:hover {
    background-color: #0D00A4;
    transition: 1s;
}

/* Page Compte - Page Profil */

.profil-information p,
.information p,
.espace-adresse p,
.fiche-profil p {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

/* Page Compte - Page Commande*/

.table-list hr {
    margin: 20px auto;
    padding: 1px;
    background-color: #000;
}

.table-list h3 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.table-list {
    background: white;
    box-shadow: #000 0px 0px 4px 4px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 2%;
}

.table-list table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.table-top-commande th,
.table-details-commande td {
    width: calc(100% / 7);
}

.table-details-commande {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.table-top-commande th,
.table-details-commande td {
    padding: 10px;
}

.table-top-commande th {
    font-size: 20px;
}

.table-details-commande td {
    font-size: 18px;
}

.search-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

#search-select {
    background-color: #000;
    color: #fff;
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.table-link {
    display: block;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.table-link:hover {
    color: #0D00A4;
    transition: 1s;
}

.table-details-commande a {
    color: #000;
    margin: 0 5px;
}

.table-details-commande a:hover {
    color: #0D00A4;
    transition: 1s;
}

.table-etat {
    color: white;
    padding: 6px 8px;
    border-radius: 10px;
}

.etat-livrer {
    background: #149F00;
}

.etat-envoyer {
    background: #FFCD0B;

}

.etat-pending {
    background: #FF4800;
}

.etat-annuler {
    background: #ff0000;
}

.etat-payer {
    background: #0D00A4;
}

.table-responsive {
    display: none;
}

.table-responsive {
    display: none;
}

.td-empty {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.td-empty td {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

/* Message Erreur - Message Succès */

.message-succes-profil,
.message-error-profil {
    width: 80%;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 10px;
}

.message-succes-profil {
    border: 2px solid #119d15;
    background: rgba(71, 173, 74, 0.2);
}

.message-error-profil {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.2);
}

.border-error-profil {
    border: 2px solid red !important;
}


@media screen and (max-width: 1250px) {

    /* Page dashboard - Page Boutique */

    .table-list thead {
        display: none;
    }

    .table-details-commande {
        display: none;
        border: 2px solid #000;
    }

    .table-details img {
        margin: auto;
    }

    .table-details-commande a {
        margin: 5px;
    }

    .table-details-commande td::before {
        content: attr(data-label);
        font-weight: bold;
        margin: 10px 0;
    }

    .table-details-commande td {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 10px;
    }

    .table-responsive {
        display: flex;
        border: 2px solid #000;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .table-responsive td {
        font-size: 18px;
        padding: 10px;
    }

    .table-responsive:hover {
        background-color: #0D00A4;
        color: #fff;
        cursor: pointer;
        transition: 1s;
    }

    .active-liste {
        background-color: #0D00A4;
        color: #fff;
    }

    .active-details {
        display: block !important;
    }
}

@media screen and (max-width: 992px) {

    /* Profil  Global */

    .container-profil {
        flex-direction: column;
    }

    /* 1. Section Right - Section Left*/

    .section-profil-right,
    .section-profil-left {
        width: 100%;

    }

    .section-profil-right {
        padding-top: 20px;
    }

    /* 3. Menu Navigation */

    .menu-dashboard {
        display: none;
    }

    .liste-menu li {
        list-style: none;
        margin: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .liste-menu a {
        color: #fff;
        font-size: 25px;
        border-bottom: 2px solid transparent;
        margin-left: 20px;
        text-decoration: none;
    }

    .liste-menu a:hover {
        color: #0D00A4;
        border-bottom: 2px solid #0D00A4;
        transition: 1s;
    }

    .liste-menu img {
        width: 30px;
    }

    .btnDashboard {
        display: block;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

    .btnOpenDashboard {
        display: block;
    }

    .btnCloseDashboard {
        display: none;
    }

    .btnOpenDashboard .fa-bars,
    .btnCloseDashboard .fa-times {
        color: #fff;
        font-size: 2em;
        padding: 10px;
        cursor: pointer;
    }

    .modal-menu-dashboard {
        display: none;
        transition: height 0.6s ease-in-out;
        overflow: hidden;
    }

    .active-menu-dashboard {
        display: block;
    }

    /* Page Compte */

    /* 1. Compte Global */

    .separate-section-1 {
        width: 26%;
    }

}

@media screen and (max-width: 768px) {
    /* Page Compte */

    /* 1. Compte Global */

    .separate-section-1 {
        width: 36%;
    }

    /* Page Profil */

    /* 1. Section */

    .section-1-profil,
    .section-2-profil {
        align-items: center;
        flex-direction: column;
    }

    /* 2. Block */

    .espace-profil,
    .detail-profil,
    .espace-adresse,
    .detail-adresse,
    .espace-password {
        width: 90%;
    }

    /* 3. Formulaire */

    .submit-profil,
    .input-profil,
    .civilite-profil,
    .password-profil {
        width: 90%;
    }

    /* Message Erreur - Message Succès */

    .message-succes,
    .message-error-profil {
        width: 90%;
    }

}

@media screen and (max-width: 516px) {

    /* 1. Compte Global */

    .separate-section-1 {
        width: 56%;
    }

    /* Page Compte - Page Commande*/

    .search-link {
        flex-direction: column;
    }

    #search-select {
        margin: 20px 0;
        width: 100%;
        order: 1;
    }

}