/* Style Css Dashboard Back-End */

/* Dashboard  Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.container {
    flex: 1 0 auto;
}

.dashboard-container {
    display: flex;
    height: 100%;
    border-bottom: 1px solid #fff;
}

/* 1. Section Right */

.section-right {
    width: 80%;
    height: 100%;
    background-color: #04052E;
}

/* 2. Section Left */

.section-left {
    background-color: #02010A;
    width: 20%;
}

/* 3. Menu Navigation */

.menu-dashboard {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
}

.menu-dashboard li {
    list-style: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.menu-dashboard img {
    width: 30px;
}

.menu-dashboard a {
    color: #fff;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    margin-left: 20px;
}

.menu-dashboard a:hover {
    color: #0D00A4;
    border-bottom: 2px solid #0D00A4;
    transition: 1s;
}

.menu-separate {
    margin: 40px auto;
    padding: 1px;
    background-color: #fff;
}

/* 4. Modale - Menu Responsive */

.modal-menu-dashboard,
.btnDashboard {
    display: none;
}

/* Header */

header {
    background: #000;
    border-bottom: 1px solid #fff;
    padding: 2% 0;
}

/* 1. Header Top */

.back-header-top {
    display: flex;
    align-items: center;
}

.header-return,
.back-header-top h1,
.icone-header {
    text-align: center;
    width: calc(100%/3);
}

.back-header-top img {
    width: 30px;
}

/* 2. Lien retour sur le site */

.header-return a {
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

.header-return a:hover {
    color: #0D00A4;
    border-bottom: 2px solid #0D00A4;
    transition: 1s;
}

/* 2. Titre du header */

.back-header-top h1 {
    color: #fff;
    font-size: 35px;
}

/* 2. Icone du header */

.icone-header a {
    margin: 0 6px;
}

/* Page dashboard */

/* 1. Block indication */

.block-indication {
    display: flex;
    justify-content: center;
}

.fiche-indication {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px 20px;
    text-align: center;
    width: calc(100% / 3);
    padding: 10px 0;
}

.fiche-indication h3 {
    font-size: 30px;
}

.fiche-indication p {
    font-size: 25px;
    margin: 4% 0px;
    font-weight: bold;
}

/* Page Compte */

/* 1. Block Profil Information*/

.profil-information {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 2%;
    width: 90%;
}

/* 2. Block Information*/

.information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.information h3 {
    font-size: 24px;
    text-align: center;
}

.information a {
    background-color: #000;
    color: #fff;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding: 5px;
    cursor: pointer;
}

.information a:hover {
    background-color: #0D00A4;
    transition: 1s;
}

/* 3. Désabonnement Newsletter */

.btnDesabonner {
    color: #0D00A4;
    text-decoration: none;
}

.btnDesabonner:hover {
    color: red;
    transition: 1s;
}

/* Page Profil */

/* 1. Section */

.section-1-profil,
.section-2-profil {
    display: flex;
    justify-content: center;
}

/* 2. Block */

.espace-profil,
.detail-profil,
.espace-adresse,
.detail-adresse,
.espace-password {
    width: 40%;
    padding: 10px;
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px 20px;
}

.espace-password {
    margin: 20px auto;
}

.espace-profil figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: #000 0px 0px 4px 4px;
}

.espace-profil img {
    width: 150px;
}

.fiche-profil {
    padding: 5%;
}

/* 3. Formulaire */

.civilite-profil {
    margin: 10px auto;
}

.password-profil {
    width: 80%;
    display: block;
    margin: 15px auto;
}

.input-civilite-profil {
    margin: 10px 6px;
}

.input-profil {
    border-radius: 5px;
    display: block;
    width: 80%;
    height: 40px;
    border: 1px #c6c6c6 solid;
    margin: 10px auto;
    padding: 10px;
}

.submit-profil {
    background-color: #000;
    color: #fff;
    height: auto;
    font-size: 17px;
    border: 1px solid #000;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 80%;
    cursor: pointer;
}

.submit-profil:hover {
    background-color: #0D00A4;
    transition: 1s;
}

/* Page Detail Commande Membre */

/* Block information */

.dashboard-info {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

.order {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

.order-client {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


.btn-order,
.btn-commande {
    background-color: #000;
    border: 2px solid #0D00A4;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 6px;
    width: 30%;
    text-align: center;
}

.btn-order:hover,
.btn-commande:hover {
    background-color: #0D00A4;
    cursor: pointer;
    border-bottom: 2px solid #0D00A4;
    transition: 1s;
}

/* Block détail commande */

.background-commande {
    background: #fff;
    box-shadow: #000 0px 0px 4px 4px;
    border-radius: 5px;
    margin: 20px auto;
    padding: 2%;
    width: 90%;
}

.resume-commande {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.fiche-information {
    width: 25%;
}

.fiche-information p {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.panier-total {
    text-align: end;
    margin: 1% 4% 1% 0;
    font-size: 18px;
}

/* Page dashboard - Page Gestion Produit - Page Boutique - Page Compte - Page Gestion Membre - Page Profil - Page Compte - Page Admin_Compte - Page Detail Commande Membre */

.section-1-produit,
.section-1-dashboard,
.section-2-dashboard,
.section-1-boutique,
.section-1-compte,
.section-1-commande,
.section-1-membre,
.section-1-newsletter,
.section-1-compte,
.section-2-compte,
.section-1-profil,
.section-3-profil,
.section-1-commande-admin,
.section-1-client {
    padding: 4% 0;
}

.section-2-client {
    padding-bottom: 4%;
}

.gestion-form hr,
.table-list hr,
.profil-information hr,
.separate-section-2,
.separate-section-1,
.information hr,
.espace-adresse hr,
.detail-profil hr,
.detail-adresse hr,
.espace-password hr,
.dashboard-info hr,
.list-client hr,
.fiche-information hr,
.information-client hr {
    margin: 20px auto;
    padding: 1px;
    background-color: #000;
}

.information hr,
.espace-adresse hr,
.detail-profil hr,
.detail-adresse hr,
.espace-password hr,
.fiche-information hr {
    width: 70%;
}

.separate-section-1 {
    width: 20%;
}

.profil-information h3,
.espace-adresse h3,
.detail-profil h3,
.detail-adresse h3,
.espace-password h3,
.gestion-form h3,
.table-list h3,
.dashboard-info h3,
.list-client h3,
.fiche-information h3,
.information-client h3 {
    font-size: 30px;
    text-align: center;
}

.fiche-information h3 {
    font-size: 24px;
}

.gestion-form h3,
.table-list h3,
.list-client h3,
.information-client h3 {
    margin: 20px 0;
}

/* Page Compte - Page Profil */

.profil-information p,
.information p,
.espace-adresse p,
.fiche-profil p {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

/* Page Gestion Produit - Page Gestion Membre */

.gestion-form {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    padding: 2%;
}

.gestion-form div {
    margin: 20px auto;
}

.gestion-form .inputForm,
.gestion-form textarea,
.gestion-form select {
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

.gestion-form select {
    background-color: #000;
    color: #fff;
}

.gestion-form .submit {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.gestion-form .submit:hover {
    background-color: #11006c;
    transition: 1s;
}

.gestion-form .photo figure {
    margin: 20px 0;
}

.gestion-form .photo img {
    width: 200px;
}

/* Page dashboard - Page Boutique - Page Compte */

.table-list {
    background: white;
    box-shadow: #000 0px 0px 4px 4px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    padding: 2%;
}

.table-list table,
.list-client table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.table-top-newsletter th,
.table-details-newsletter td {
    width: calc(100% / 4);
}

.table-top-user th,
.table-details-user td,
.table-top-client th,
.table-details-client td {
    width: calc(100% / 6);
}

.table-top-commande th,
.table-details-commande td {
    width: calc(100% / 7);
}

.table-top th,
.table-details td {
    width: calc(100% / 11);
}

.table-details,
.table-details-commande,
.table-details-user,
.table-details-newsletter,
.table-details-client {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.table-top th,
.table-top-commande th,
.table-top-user th,
.table-top-newsletter th,
.table-top-client th,
.table-details td,
.table-details-commande td,
.table-details-user td,
.table-details-newsletter td,
.table-details-client td {
    padding: 10px;
}

.table-top th,
.table-top-commande th,
.table-top-user th,
.table-top-newsletter th,
.table-top-client th {
    font-size: 20px;
}

.table-details td,
.table-details-commande td,
.table-details-user td,
.table-details-newsletter td,
.table-details-client td {
    font-size: 18px;
}

.search-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

#search-select {
    background-color: #000;
    color: #fff;
    border: 1px black solid;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    padding: 10px;
    text-align: center;
}

.table-link {
    display: block;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.table-link:hover {
    color: #0D00A4;
    transition: 1s;
}

.table-details img,
.table-details-client img {
    width: 80px;
}

.table-details a,
.table-details-commande a,
.table-details-user a,
.table-details-newsletter a {
    color: #000;
    margin: 0 5px;
}

.table-details a:hover,
.table-details-commande a:hover,
.table-details-user a:hover,
.table-details-newsletter a:hover {
    color: #0D00A4;
    transition: 1s;
}

.table-etat {
    color: white;
    padding: 6px 8px;
    border-radius: 10px;
}

.etat-livrer {
    background: #149F00;
}

.etat-envoyer {
    background: #FFCD0B;

}

.etat-pending {
    background: #FF4800;
}

.etat-annuler {
    background: #ff0000;
}

.etat-payer {
    background: #0D00A4;
}

.table-responsive {
    display: none;
}

.td-empty {
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.td-empty td {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

/* Footer */

footer {
    background: #000;
    padding: 2% 0;
    margin-top: auto;
}

.text-copyright {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

/* Message Erreur - Message Succès */

.message-succes,
.message-error,
.message-error-input,
.message-succes-profil,
.message-error-profil {
    width: 80%;
    margin: 10px auto;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 10px;
}

.message-error-input {
    width: 100%;
}

.message-succes,
.message-succes-profil {
    border: 2px solid #119d15;
    background: rgba(71, 173, 74, 0.2);
}

.message-error,
.message-error-input,
.message-error-profil {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.2);
}

.border-error,
.border-error-profil {
    border: 2px solid red !important;
}

.border-succes {
    border: 2px solid #119d15 !important;
}

@media screen and (max-width: 1250px) {

    /* Page dashboard - Page Boutique */

    .table-list thead,
    .list-client thead {
        display: none;
    }

    .table-details,
    .table-details-commande,
    .table-details-user,
    .table-details-newsletter,
    .table-details-client {
        display: none;
        border: 2px solid #000;
    }

    .table-details img,
    .table-details-client img {
        margin: auto;
    }

    .table-details a,
    .table-details-commande a,
    .table-details-user a,
    .table-details-newsletter a {
        margin: 5px;
    }

    .table-details td::before,
    .table-details-commande td::before,
    .table-details-user td::before,
    .table-details-newsletter td::before,
    .table-details-client td::before {
        content: attr(data-label);
        font-weight: bold;
        margin: 10px 0;
    }

    .table-details td,
    .table-details-commande td,
    .table-details-user td,
    .table-details-newsletter td,
    .table-details-client td {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 10px;
    }

    .table-responsive {
        display: flex;
        border: 2px solid #000;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .table-responsive td {
        font-size: 18px;
        padding: 10px;
    }

    .table-responsive:hover {
        background-color: #0D00A4;
        color: #fff;
        cursor: pointer;
        transition: 1s;
    }

    .active-liste {
        background-color: #0D00A4;
        color: #fff;
    }

    .active-details {
        display: block !important;
    }
}

/* Pagination */

.barre-pagination {
    padding-top: 2%;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination li {
    list-style: none;
}

.pagination a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    border: 1px #0D00A4 solid;
    padding: 5px 10px;
    background-color: #fff;
}

.pagination a:hover {
    color: #fff;
    cursor: pointer;
    background: #0D00A4;
    transition: 1s;
}

.disabled.disabled a {
    color: #0D00A4;
    pointer-events: none;
}

.disabled.disabled {
    background-color: #fff;
    pointer-events: none;
}

.activePage a {
    color: #fff !important;
    background-color: #0D00A4 !important;
}

@media screen and (max-width: 992px) {

    /* Dashboard  Global */

    .dashboard-container {
        flex-direction: column;
    }

    /* 1. Section Right - 2. Section Left*/

    .section-right,
    .section-left {
        width: 100%;
    }

    .section-right {
        padding-top: 20px;
    }

    /* 3. Menu Navigation */

    .menu-dashboard {
        display: none;
    }

    .liste-menu li {
        list-style: none;
        margin: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .liste-menu a {
        color: #fff;
        font-size: 25px;
        border-bottom: 2px solid transparent;
        margin-left: 20px;
        text-decoration: none;
    }

    .liste-menu a:hover {
        color: #0D00A4;
        border-bottom: 2px solid #0D00A4;
        transition: 1s;
    }

    .liste-menu img {
        width: 30px;
    }

    .btnDashboard {
        display: block;
        text-align: center;
        border-bottom: 1px solid #fff;
    }

    .btnOpenDashboard {
        display: block;
    }

    .btnCloseDashboard {
        display: none;
    }

    .btnOpenDashboard .fa-bars,
    .btnCloseDashboard .fa-times {
        color: #fff;
        font-size: 2em;
        padding: 10px;
        cursor: pointer;
    }

    .modal-menu-dashboard {
        display: none;
        transition: height 0.6s ease-in-out;
        overflow: hidden;
    }

    .active-menu-dashboard {
        display: block;
        border-bottom: 1px solid #fff;
    }

    /* Page dashboard */

    /* 1. Block indication */

    .block-indication {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fiche-indication {
        width: calc(80%/2);
    }

    /* Page Compte */

    /* 1. Compte Global */

    .separate-section-1 {
        width: 26%;
    }

    /* Page Detail Commande Membre */

    /* Block information */

    .order,
    .order-client {
        flex-direction: column;
    }

    .btn-order,
    .btn-commande {
        margin: 6px auto;
        width: 100%;
    }

    /* Block détail commande */

    .fiche-information {
        width: 50%;
    }

}

@media screen and (max-width: 768px) {

    /* Header */

    /* 1. Header Top */

    .back-header-top {
        flex-direction: column;
    }

    .header-return,
    .back-header-top h1,
    .icone-header {
        width: 100%;
        margin: 20px auto;
    }

    /* Page dashboard */

    /* 1. Block indication */

    .fiche-indication {
        width: calc(85% / 2);
    }

    /* Page Compte */

    /* 1. Compte Global */

    .separate-section-1 {
        width: 36%;
    }

    /* Page Profil */

    /* 1. Section */

    .section-1-profil,
    .section-2-profil {
        align-items: center;
        flex-direction: column;
    }

    /* 2. Block */

    .espace-profil,
    .detail-profil,
    .espace-adresse,
    .detail-adresse,
    .espace-password {
        width: 90%;
    }

    /* 3. Formulaire */

    .submit-profil,
    .input-profil,
    .password-profil {
        width: 90%;
    }

    /* Page Detail Commande Membre */

    /* Block détail commande */

    .fiche-information {
        width: 100%;
    }

    /* Message Erreur - Message Succès */

    .message-succes-profil,
    .message-error-profil {
        width: 90%;
    }

    /* Page Gestion Produit - Page Gestion Membre */

    .gestion-form {
        width: 80%;
    }

}

@media screen and (max-width: 576px) {

    /* Page dashboard */

    /* 1. Block indication */

    .fiche-indication {
        width: 90%;
    }

    /* 1. Compte Global */

    .separate-section-1 {
        width: 56%;
    }

    /* Page Gestion Produit - Page Gestion Membre */

    .gestion-form {
        width: 90%;
    }

    /* Page Compte - Page Commande*/

    .search-link {
        flex-direction: column;
    }

    #search-select {
        margin: 20px 0;
        width: 100%;
        order: 1;
    }
}